# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
release/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript cache
*.tsbuildinfo

# Optional pnpm cache
.pnpm-store/

# Environment variables
.env
.env.local
.env.*.local
